
<div class="container">
    <div class="row">
      <h1>Rental Application</h1>
        <nav class="navbar" >
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/tenant">Tenant Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/property">Property Information</a>
            </li>
          </ul>
        </nav>
    </div>
  </div>
  
  <router-outlet></router-outlet>
 
