h1{
    color:black;
    padding: 20px;
    max-width: 700px;
    margin: 20px auto 0; /* Center the section horizontally */
  }
  
  .navbar {
    background-color:lightseagreen;
  }
  
  .nav-link {
    color:white;
  }
  
  .row {
  background-color: #f7f7f7;
  }
  
  
  .templateStyle {
    border: 2px solid #ccc;
    background-color: #f7f7f7;
    padding: 20px;
    max-width: 600px; /* Adjust this value to your desired section width */
    margin: 20px auto 0; /* Center the section horizontally */
  
    /* Optional: Add rounded corners */
    border-radius: 8px;
  }
  
  .emailStyle {
    border: 2px solid #ccc;
    background-color: #f7f7f7;
    padding: 20px;
    max-width: 600px; /* Adjust this value to your desired section width */
    margin: 20px 30px 0; /* Center the section horizontally */
  
    /* Optional: Add rounded corners */
    border-radius: 8px;
  }